.imgProfile{
    width: 80%;
    height: 30%;
    border-radius: 50%;
    
    
}
@media(max-width:1279px){
  
 .imgProfile{
   width: 100%;
   height: 25%;
 }
}


@media(max-width:920px){
  .imgProfile{
    width: 80%;
    height: 25%;
  }
}




